<!DOCTYPE html>
<html>

  <head>
    <title>Forever scroller</title>
    <script type="text/javascript" src="{{ url_for('static', filename='forever.js') }}"></script>
  </head>

  <body>
    <h1>Forever scroller</h1>
    {% for piece in content %}
      <p>{{ piece }}</p>
    {% endfor %}
  </body>

</html>
